*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: hsl(30, 38%, 92%);
    width: 100%;
    height: 100%;
    padding: 50px;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    
    width: 800px;
    height: 600px;
}
/* This is not responding to styling so I had to use inline styling in the html code*/
/*.image {
    border-radius: 20px 0 0 20px;
    object-fit: cover;
}*/
.writeup {
    align-items: center;
    height: 600px;
    width: 400px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0 10px 10px 0;
    padding: 40px 30px 0 40px;
}
.writeup h2{
    font-family: Montserrat, san-serif;
    font-weight: 500;
    letter-spacing: 10px;
    font-size: 15px;
    color: hsl(228, 12%, 48%);
    margin-bottom: 5px;
}
.writeup h1{
    font-weight: 700;
    font-family: Fraunces, san-serif;
    font-size: 3rem;
    margin: 1.5rem 0;
    line-height: 50px;
}
p.description{
    font-size: 1.25rem;
    font-family: Montserrat, san-serif;
    width: 100%;
    color: hsl(228, 12%, 48%); 
    line-height: 30px;
    word-spacing: 0.75rem;
    margin: 2rem 0;
}
.writeup .newprice{
    display: inline-block;
    font-size: 3rem;
    font-family: Montserrat;
    color: hsl(158, 36%, 37%);
    font-weight: 700;
    margin-right: 10px;
}
.writeup .oldprice{
    display: inline-block;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-top: 0px;
    font-family: Fraunces, san-serif; 
} 
.button{
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 60px;
    border: none;
    margin: 1.5rem auto;
    padding: 14px 40px;
    position: relative;
    top: 5px;
    right: 2px;
}
.button:hover{
    background-color:hsl(228, 12%, 48%);
}
.attribution{
    font-size: 11px; text-align: center;
}
.attribution a{
    color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 375px) {
    body{
        width: 375px;
        height: 750px; 
    }
    .flex.container{
        width: 350px;
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    .writeup {
        align-items: center;
        height: 420px;
        width: 350px;
        border-radius: 0 0 10px 10px;
    }
    .writeup h2{
        font-family: Montserrat, san-serif;
        font-weight: 500;
        letter-spacing: .3rem;
        font-size: .5rem;
        color: hsl(228, 12%, 48%);
        margin-bottom: .1rem;
    }
    .writeup h1{
        font-weight: 700;
        font-family: Fraunces, san-serif;
        font-size: 0.525rem;
        margin: 0.8rem 0;
        line-height: 1.6rem;
    }
    p.description{
        font-size: .8rem;
        font-family: Montserrat, san-serif;
        width: 100%;
        color: hsl(228, 12%, 48%); 
        line-height: 1rem;
        word-spacing: 0.4rem;
        margin: 1rem 0;
    }
    .writeup .newprice{
        display: inline-block;
        font-size: 1.5rem;
        font-family: Montserrat;
        color: hsl(158, 36%, 37%);
        font-weight: 700;
        margin-right: .3rem;
    }
    .writeup .oldprice{
        display: inline-block;
        text-decoration: line-through;
        color: hsl(228, 12%, 48%);
        margin-top: 0px;
        font-family: Fraunces, san-serif; 
    } 
    .button{
        background-color: hsl(158, 36%, 37%);
        color: hsl(0, 0%, 100%);
        border-radius: 4.2px;
        text-align: center;
        font-size: .65rem;
        width: 100%;
        height: 31px;
        border: none;
        margin: 0.79rem auto;
        padding: 7.35px 21px;
        position: relative;
        top: 3px;
        right: 1px;
    }
}